
{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $totop := resources.Get "js/vanilla-back-to-top.min.js" }}

{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $totop | resources.Concat "js/bundle.js" | minify }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}'></script>

<!-- https://github.com/vfeskov/vanilla-back-to-top -->
<script>addBackToTop({
  diameter: 32,
  backgroundColor: 'rgb(255, 82, 82)',
  textColor: '#fff',
  showWhenScrollTopIs: 320,
  scrollDuration: 750
})</script>
